*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --font-color-header: white;
    --background-color-main: white;
    --standard-gap-small: 15px;
    --standard-gap-xsmall: 5px;
}

.headline {
    width: 100%;
    height: 35px;
    background-color: darkblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 20px;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    font-size: xx-small;
}

header,
a {
    color: var(--font-color-header);
    text-decoration: none;
}

.searchbar {
    display: flex;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    /* outline: 2px solid black; */
}

.content {
    width: 80%;
    display: flex;
    justify-content: center;
    position: relative;
}

.background {
    width: 100%;
    height: 350px;
    /* position: absolute; */
    background-image: url(./img/background.jpg);
    background-size: cover;
}

.invisible-link a {
    background-color: var(--background-color-main);
    opacity: 0;
    width: 100%;
    height: 145px;
    z-index: 50;
    position: absolute;
}

.poi {
    position: absolute;
    width: 100%;
    top: 145px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--standard-gap-small);
    padding: var(--standard-gap-small);
}

.goodies {
    height: 240px;
    background-color: var(--background-color-main);
    padding: var(--standard-gap-small);
}

.smallrow {
    height: 35%;
}

h5 {
    margin-bottom: var(--standard-gap-small);
    ;
}

.layout4x4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: var(--standard-gap-xsmall);

}

.pic {
    aspect-ratio: 1/1;
    outline: 1px solid black;
}

.infolink {
    color: blue;
    font-size: 0.5em;
}

.movies {
    height: 240px;
    background-color: var(--background-color-main)
}

.bigcolumn {
    grid-column: 1/span 2;
}